/* FOOTER */

.post__footer {
  display: flex;
  gap: 1rem;
  margin-top: 2.5rem;
}

.post-btn {
  padding: 0.5rem 1.25rem;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 30px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.2s ease;
  background-color: var(--black);
  color: var(--white);
}

.post-btn:hover {
  background-color: #fff;
  color: var(--black);
  border: solid 1px var(--black);
}

.btn--ghost {
  background-color: transparent;
  border: 1px solid #ccc;
  color: #333;
}

.btn--ghost:hover {
  border-color: var(--black);
  color: var(--black);
}