
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --white: #fff;
  --off-white: #f9f8f6;
  --light: #f3f0ed; /* #F9F7F2 f3f4f6 */
  --black: #080808;           /* #333 */
  --dark: #242424; 
  --text-white: #f3f4f6;
  --text-dark: #1a1a1a;
  --light-grey: #666;
  --grey: #333;
  --border: #eee;  
  --brand-brown: #45382f;         /* #2D3436 */ 
  --red: #e4002b;
  --blue: #2563eb;               /* #C53030 3f0d0d*/

}

/*
:root {
  --bg-black: #0a0a0a;
  --brand-brown: #45382f;
  --text-white: #f5f5f5;
*/